.counter {
    height: 300px;
    width: 300px;
    
    margin: 0 auto;
    overflow: hidden;
}

.counter-display {
    height: 150px;
}

.counter-panel {
    height: 100px;
}

.btn {
    border-radius: 0 !important;
    cursor: pointer;
    box-shadow: none !important;
}

.counter-title {
    height: 50px;
    width: 300px;
    font-weight: 500;
    font-size: 20px;
    border: none;
}

.title-input {
    position: relative;
    text-align: center;
    padding: 10px 0;
}

.counterremove {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    right: 10px;
    background: none;
    border: 0;
    box-shadow: none;
    margin: 0 -5px;
    padding: 0;
    cursor: pointer;
    color: gray;
}

.counterremove:hover, .countermodify:hover {
    color: #D44E4E;
}

.countermodify {
    display: flex;
    position: absolute;
    justify-content: flex-start;
    left: 10px;
    background: none;
    border: 0;
    box-shadow: none;
    margin: 0 -5px;
    padding: 0;
    cursor: pointer;
    color: gray;
}